<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="adminMapper">
	<!-- 블랙리스트 부분 -->
	<!-- 
		신고 목록페이지 페이징
		mem_black = N 인사람만 카운트 + 출력
	-->
	<select id="blackPage" resultType="int">
		select count(*) as totalCnt from tb_report re join tb_member me
    		on re.mem_seq = me.mem_seq
    		where me.mem_black = 'N' 
	</select>
	<!-- 신고 목록 -->
	<select id="reportList" parameterType="map" resultType="com.helper.admin.ReportDTO">
		select * from (select re.*, row_number() over(order by report_seq desc) as num from tb_report re join tb_member me
   			on re.mem_seq = me.mem_seq
    		where me.mem_black = 'N')
    		where num between #{start} and #{end}
	</select>
	<!-- 신고 추가/삭제 -->
	<update id="addBlack" parameterType="int">
		update tb_member set mem_black = 'Y' 
			where mem_seq = #{mem_seq}
	</update>
	<delete id="deleteBlack" parameterType="int">
		delete from tb_report
			where mem_seq = #{mem_seq}
	</delete>
	<!-- ID로 유저찾기 -->
	<select id="searchById" parameterType="map" resultType="com.helper.admin.ReportDTO">
		select * 
			from (select re.*,row_number() over(order by report_seq desc) as num from tb_report re where mem_id like '%'||#{mem_id}||'%')
    		where num between #{start} and #{end}
	</select>
	<select id="searchPage" parameterType="String" resultType="int">
		select count(*) as totalCnt 
			from (select * from tb_report where mem_id like '%'||#{mem_id}||'%')
	</select>
	<!-- 블랙리스트 유저 -->
	<select id="selectBlacklist" parameterType="map" resultType="com.helper.member.MemberDTO">
		select *
			from (select tb_member.*, row_number() over(order by mem_seq desc) as num from tb_member where mem_black='Y')
			where num between #{start} and #{end}
	</select>
	<select id="blacklistPage" resultType="int">
		select count(*) from tb_member
			where mem_black='Y'
	</select>
	<update id="unblocking" parameterType="int">
		update tb_member set mem_black = 'N' 
			where mem_seq = #{mem_seq}
	</update>	
	
	<!-- 그룹 리스트 -->
	<select id="groupList" parameterType="map" resultType="org.apache.commons.collections4.map.CaseInsensitiveMap">
		select * from (select sum(time_count) as group_count, group_seq 
			from tb_member full join tb_timer 
					using(mem_seq)
    				group by group_seq 
    				order by group_count desc) join tb_group 
    		using(group_seq)
	</select>
	<select id="groupPage" resultType="int">
		select count(*) as totalCnt from tb_group
	</select>
	<!-- 그룹 삭제시 -->
	<delete id="deleteGroup" parameterType="int">
		delete from tb_group 
			where group_seq = #{group_seq}
	</delete>
	<update id="memGroupSetNull" parameterType="int">
		update tb_member set group_seq=0 
			where group_seq = #{group_seq}
	</update>
	
	<!-- 메인페이지 top3 -->
	<select id="selectTopMem" resultType="org.apache.commons.collections4.map.CaseInsensitiveMap">
		select * from (select mem_seq,sum(time_count) as time_count 
				from tb_timer where to_char(sysdate, 'MM/dd') = to_char(time_date, 'MM/dd')
 				group by mem_seq
 				order by time_count desc) join tb_member 
 			using(mem_seq)
 			where rownum <![CDATA[<=]]> 3
	</select>
	<select id="selectTopGroup" resultType="org.apache.commons.collections4.map.CaseInsensitiveMap">
		select * from 
			(select sum(time_count) as group_count, group_seq 
			from tb_member join tb_timer 
					using(mem_seq)
					where to_char(sysdate, 'MM/dd') = to_char(time_date, 'MM/dd')
    				group by group_seq 
    				order by group_count desc) join tb_group 
    		using(group_seq)
    		where rownum <![CDATA[<=]]> 3
	</select>
	
	<!-- 공지사항 삽입 -->
	<insert id="insertNotice" parameterType="com.helper.admin.NoticeDTO">
		insert into tb_notice values
		(notice_seq.nextval, #{notice_title}, #{notice_content},sysdate,0) 
	</insert>
	<!-- 조회수 -->
	<update id="updateView" parameterType="int">
		update tb_notice set
		view_count = view_count+1 where notice_seq = #{notice_seq}
	</update>
	<!-- 공지사항 목록 -->
	<select id="selectAllNotice" resultType="com.helper.admin.NoticeDTO">
		select * from (select  tb_notice.*, row_number() over (order by notice_seq desc ) as num
			from tb_notice)
	</select>
	<select id="selectOneNotice" resultType="com.helper.admin.NoticeDTO" parameterType="int">
		select * from  tb_notice where notice_seq = #{notice_seq}
	</select>
	<!-- 공지사항 수정 -->
	<update id="noticeUpdate" parameterType="com.helper.admin.NoticeDTO">
		update tb_notice set notice_title = #{notice_title}, notice_content = #{notice_content} where notice_seq = #{notice_seq}
	</update>
	<!-- 공지사항 삭제 -->
	<delete id="noticeDelete" parameterType="int">
		delete from tb_notice where notice_seq = #{notice_seq}
	</delete>
	
	<!-- admin Home -->
	<select id="searchToday" resultType="int">
		select count(*)
			from tb_visit
			where to_char(sysdate, 'YY/MM/dd') = to_char(vi_date, 'YY/MM/dd')
	</select>
	<select id="visitToday" resultType="int">
		select sum(vi_count) 
			from tb_visit 
			where to_char(sysdate, 'YY/MM/dd') = to_char(vi_date, 'YY/MM/dd')
	</select>
	<select id="visitTotal" resultType="int">
		select sum(vi_count)
			from tb_visit
	</select>
	<update id="visitCount">
		update tb_visit 
			set vi_count = vi_count+1
			where to_char(sysdate, 'YY/MM/dd') = to_char(vi_date, 'YY/MM/dd')
	</update>
	<insert id="visitInsert">
		insert into tb_visit
			values(1, sysdate)
	</insert>
	<select id="reportTotal" resultType="int">
		select count(*)
			from tb_report
	</select>
	<select id="memberJoinCount" resultType="org.apache.commons.collections4.map.CaseInsensitiveMap">
		select to_char(mem_sign, 'YY/MM/dd') as mem_sign,count(*) as count from tb_member
    		group by to_char(mem_sign, 'YY/MM/dd')
    		order by mem_sign
	</select>
	<select id="groupCategoryCount" resultType="org.apache.commons.collections4.map.CaseInsensitiveMap">
		 select group_std_key as std_key, count(*) as count from tb_group
    		group by group_std_key
	</select>
	
	
	
</mapper>