<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="memberMapper">
	<!-- 이메일 중복확인 -->
	<select id="checkEmail" parameterType="String" resultType="com.helper.member.MemberDTO">
		select * from tb_member where mem_id = #{mem_id}
	</select>
	
	<!-- 회원가입 -->
	<insert id="insert" parameterType="com.helper.member.MemberDTO">
		insert into tb_member values(mem_seq.nextval, #{mem_id}, #{mem_pw}, #{mem_nick}, #{mem_std_key}, 'N', 0, sysdate)
	</insert>
	
	<!-- 로그인 -->
	<select id="login" parameterType="String" resultType="com.helper.member.MemberDTO">
		select * from tb_member where mem_id = #{mem_id}
	</select>
	
	<!-- 이메일 찾기 -->
	<select id="findNickname" parameterType="String" resultType="com.helper.member.MemberDTO">
		select * from tb_member where mem_nick = #{mem_nick}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="update" parameterType="com.helper.member.MemberDTO">
		update tb_member set mem_pw = #{mem_pw} where mem_id = #{mem_id}
	</select>
	
	<!-- 카카오 로그인 -->
	<select id="kakaoLogin" parameterType="String" resultType="com.helper.member.MemberDTO">
		select * from tb_member where mem_id = #{mem_id}
	</select>
	
	<!-- 카카오 회원가입  -->
	<insert id="insertKakao" parameterType="com.helper.member.MemberDTO">
		insert into tb_member values(mem_seq.nextval, #{mem_id}, #{mem_pw}, #{mem_nick}, #{mem_std_key}, 'N', 0, sysdate)
	</insert>
	
	<!-- 마이페이지 회원정보 수정  -->
	<update id="updateInfo" parameterType="com.helper.member.MemberDTO">
		update tb_member set mem_nick = #{mem_nick}, mem_std_key = #{mem_std_key} where mem_id = #{mem_id}
	</update>
	
	<!-- 마이페이지 회원탈퇴  -->
	<delete id="dropoutInfo" parameterType="int">
		delete from tb_member where mem_seq = #{mem_seq}
	</delete>
	
	<!-- 마이페이지 나의 커뮤니티 -->
	<select id="myBoard" parameterType="int" resultType="com.helper.board.BoardDTO">
		select * from tb_board where mem_seq = #{mem_seq} 
	</select>
	
	<!-- 마이페이지 나의 그룹 -->
	<select id="myGroup" parameterType="int" resultType="com.helper.group.GroupDTO">
		select * from tb_group where group_seq = #{group_seq} 
	</select>
	
	<!-- 그룹 가입 여부 체크 -->
	<select id="checkJoinStatus" parameterType="int" resultType="int">
		select group_seq from tb_member where mem_seq = #{mem_seq}
	</select>
	
	<!-- 그룹 가입, 탈퇴 시 가입 그룹 번호 업데이트 -->
	<update id="updateGroupSeq" parameterType="com.helper.member.MemberDTO">
		update tb_member set group_seq = #{group_seq} where mem_seq = #{mem_seq}
	</update>
	
	<!-- 특정 그룹 번호에 가입된 회원 조회 -->
	<select id="selectByGroupSeq" parameterType="int" resultType="com.helper.board.BoardDTO">
		select * from tb_member where group_seq = ${group_seq}
	</select>
	
	<!-- 카카오 정보 찾기 
	<select id="findKakao" parameterType="java.util.HashMap" resultType="com.helper.member.KakaoDTO">
		select * from tb_kakao where kakao_name=#{kakao_name} and kakao_email=#{kakao_email}
	</select>
	-->
	<!-- 카카오 정보 저장 
	<insert id="kakaoInsert" parameterType="java.util.HashMap">
		insert into tb_kakao values(#{kakao_name}, #{kakao_email})
	</insert>
	
	<select id="kakaoNumber" parameterType="com.helper.member.KakaoDTO" resultType="com.helper.member.KakaoDTO">
		select * from tb_kakao where kakao_name=#{kakao_name} and kakao_email=#{kakao_email}
	</select>
	-->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	


</mapper>