<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="reportMapper">
	<!-- 신고 유저 저장 -->
	<insert id="insert" parameterType="com.helper.chat.ChatDTO">
		insert into tb_report values
			(report_seq.nextval, #{mem_seq}, #{mem_std_key}, #{mem_id}, #{mem_nick}, #{report_reason}, #{report_nick})
	</insert>
</mapper>